<p id="notice"><%= notice %></p>

<div class="span4 well">
<p>
  <strong>Title:</strong>
  <%= @advertisement.name %>
</p>

<div class="conteiner">
  <%= @advertisement.body %>
</div>
</div>

<br>
  <% if can? :update, @advertisement %>
  <a><%= link_to 'Edit', edit_advertisement_path(@advertisement), class: 'btn btn-primary btn-lg active' %></a>
  <% end %>
<a href="/advertisements" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back</a>
