
<nav class="navbar fixed-bottom navbar-light bg-light" style="background-color: #70AB8F">
  <form class="container">
      <a class="navbar-brand" href="/"
      style="color: black; font-size: xx-large;">Advertisements</a>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
        <ul class="nav navbar-nav mr-auto">
    <% if user_signed_in? %>
      <li class='nav-item' ><%= link_to "Edit profile", edit_user_registration_path %></li>
      <li class='nav-item' ><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li class='nav-item'><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
  </ul>
</div>
  </form>
</nav>
