<%= link_to 'Add advertisement', advertisements_path %>
<div class = "container">
  <% @advertisements.each do |advertisement| %>
   <p><%= advertisement.title %></p>
   <p><%= advertisement.content %></p>
  <% end %>
</div>
